Repository kriogenia/rede, pull requests merged in 2024-10, with the labels that each got.

#43 fix: use btreemaps to ensure ordering retention
  schema/src/body.rs
  schema/src/lib.rs
Labels: bug, feature, schema

#44 chore: update workflows
  .github/workflows/ci.yml
  .github/workflows/deploy_docs.yml
  .github/workflows/publish_bin.yml
  .github/workflows/publish_parser.yml
  .github/workflows/publish_placeholders.yml
  .github/workflows/publish_schema.yml
  .github/workflows/release-drafter.yml
Labels: tyding

#45 fix: publish workflows
  .github/workflows/publish_parser.yml
  .github/workflows/publish_placeholders.yml
  .github/workflows/publish_schema.yml
Labels: bug

#51 chore: update placeholder deps
  Cargo.lock
  placeholders/Cargo.toml
  placeholders/src/placeholders.rs
  placeholders/src/renderer.rs
  placeholders/src/value_picker.rs
Labels: tyding, placeholders

#52 feat: ph values utilities
  placeholders/src/resolver.rs
Labels: feature, placeholders

#57 feat: placeholders in example
  bin/src/commands/run.rs
  bin/src/static/example.toml
Labels: feature, bin

#58 feat: create demo script and update gif
  README.md
  book/src/media/readme_rede.gif
  demo/demo-rede.sh
  demo/example.toml
Labels: documentation, feature

#62 feat: add body.json and body.xml support
  Cargo.lock
  bin/Cargo.toml
  bin/tests/inputs/json_post.toml
  bin/tests/inputs/xml_post.toml
  parser/Cargo.toml
  parser/src/schema/body.rs
  placeholders/Cargo.toml
  placeholders/src/placeholders.rs
  placeholders/src/renderer.rs
Labels: feature, parser, hacktoberfest, hacktoberfest-accepted

#69 excluded test/assets
  bin/Cargo.toml
Labels: enhancement, tyding, bin, hacktoberfest, hacktoberfest-accepted
